*{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #222;
}
html, body{
    margin: 0;
    height: 100vh;
    text-align: center;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: rgb(73, 73, 73);
    background-size: 200px 200px;
}

.leftCorner {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

.MenuButton {
    position: absolute;
    top: 0;
    left: 175px;
    border: none;
}

.MenuButton_2 {
    position: absolute;
    top: auto;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 60px;
    width: 100px;
    height: 110px;
}

.row_right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#username-text {
    color: rgb(255, 89, 24);
}

#log-out-button {
    background-image: url(../img/Log_out_button.png);
    background-size: cover;
    background-color: rgb(73, 73, 73);;
    border: none;
    width: 125px;
    height: 40px;
    cursor: pointer;
}

.header{
    background-image: url(https://recipesblob.oetker.fi/assets/935bd3d912cf4142a6e456a592f60551/1272x764/hurtig-og-nem-pizza-web.webp);
    background-repeat: no-repeat;
    background-position: 50% 60%;
    background-attachment: scroll;
    background-size: cover;
    height: 40vh;
    margin: 0;
    padding-top: 60vh;
}
.heading {
    color: #ffffff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0 0 10px #000;
}
.heading-subtext{
    color: #fff;
    display: block;
    font-family: 'Caveat', cursive;
    font-size: .6em;
}
.fixed-button{
    background: rgba(20,20,20,.5);
    border-radius: 1em;
    bottom: 1em;
    color: white;
    font-weight: bold;
    padding: 1em;
    position: fixed;
    right: 1em;
    text-decoration: none;
    z-index: 9999;
}
.fixed-button::after{
    content: "\25BE";
    display: block;
    font-size: 28px;
    line-height: 0;
    margin-bottom: 6px;
    margin-top: 10px;
    text-align: center;
}
.fixed-button:active,
.fixed-button:hover{
    background: rgba(20,20,20,.9);
}
.section{
    margin: 0 auto;
    max-width: 600px;
    padding: 1em 2.4em;
}
.sub-heading{
    font-family: 'Caveat', cursive;
    font-size: 3em;
    margin-top: 2em;
}
.details{
    margin: 0 auto 8em;
}
.details-heading{
    font-weight: bold;
    text-transform: uppercase;
}
.fas {
    font-size: 3em;
    opacity: .8;
}
.resort-image{
    width: 100%
}

@media only screen and (max-width: 600px) {
    .heading {
        font-size: 4em;
    }
  }
